/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #f7ebdd;
  background-color: #0F0F0F;
}

#mainNav {
  min-height: 3.5rem;
  background-color: #191919;
}
#mainNav .navbar-toggler {
  font-size: 80%;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-toggler-icon{
  border-color: #ACA386;
}
#mainNav .navbar-brand {
  font-family: "Poppins", Arial, sans-serif;
  text-transform: uppercase;
  color: #F5EFDD;
  font-weight: 700;
}
#mainNav .navbar-brand:hover {
  color: #fff;;
  font-weight: 700;
}
#mainNav .navbar-nav .nav-item:hover {
  color: #D4CFC0;
  outline: none;
  background-color: transparent;
  font-weight: 700;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  color: #F5EFDD;
  outline: none;
  background-color: transparent;
  font-weight: 700;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
  }
  #mainNav .navbar-brand, #mainNav .nav-link  {
    color: rgba(5, 5, 5, 0.6);
    transition: 0.3s ease-in-out;
  }
  #mainNav .navbar-brand:hover, #mainNav .nav-link:hover, #mainNav .nav-link:active {
    color: #010;
    transition: 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
    background-color: #191919;
  }
  #mainNav.navbar-shrink .navbar-brand,  #mainNav.navbar-shrink .nav-link {
    color: #7a746e;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .nav-link:hover, #mainNav.navbar-shrink .nav-link:active {
    color: #D4CFC0;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #F5EFDD;
    outline: none;
  }
}

@media (max-width: 575px) {
  .container {
    width: 97%;
  }
}

.scrollitem {
  display: block;
  position: relative;
  top: -5rem;
  visibility: hidden;  
}

.rowh {
  transition: transform .3s;
}
.rowh:hover {
  transform: scale(1.05);
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.landing {
  background-color: #F1DEC6;
  width: 100%;
}

.landing-text {
  color: #191919;
  font-size: 8.5vw;
  font-weight: 700;
}

.side-card {
  background: #191919;
  position: relative;
  z-index: 10;
  display: inline-block;
  text-decoration: none;
  line-height: 1.5em;
  color: inherit;
  padding: 1em 1.25em;
}

.side-card:hover {
  color: inherit;
}

.side-card:after {
  background: linear-gradient(180deg, #191919, 90%, transparent),
    radial-gradient(ellipse at bottom, #81694b, 70%, transparent);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0; 
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -10;
  transition: opacity 1s;
}

.side-card:hover:after {
  opacity: 1;
}

.side-card-text {
  font-size: 1.1em;
  font-weight: 200;
}

.side-card-call {
  font-weight: 700;
  font-size: 1.2em;
}  

.carousel-inner {
  max-height: 40em;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 60vw;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.me-photo {
  object-fit: cover;
  justify-content: center;
  max-height: 80vw;
  width: 100%;
}

.bigtext {
  font-family: 'Playfair Display', Serif;
  font-weight: 700;
  font-style: italic;
}

.bigtext-about {
  position: inherit;
  font-size: 24.5vw;
}

.bigtext-films {
  font-size: 17vw;
  line-height: 0.95;
}

.bigtext-contact {
  font-size: 23.5vw;
}

.bigtext span {
  line-height: 0.95;
  display: block;
  text-align: right;
}

.secondary-text {
  color: #f1dec6;
  text-align: left;
}

.secondary-text-1 {
  line-height: normal;
}

.midtext {
  font-size: 6em;
  font-family: 'Playfair Display', Serif;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  line-height: 1;
}

.card {
  background-position: center;
}

.text-link {
  color: #7a746e;
}

.copyright {
  color: #7a746e;
}

.go-up {
  color: #7a746e;
  text-decoration: none;
}

.go-up:hover {
  color: #f7ebdd;
  text-decoration: underline;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -.05rem;
}

/* CONTACT 
------------------------- */

#kontakt {
  font-size: 16em;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* sm */
@media (min-width: 576px) {
  .landing-text {
    font-size: 3.2em;
  }

  .carousel-item {
    height: 20em;
  }

  .bigtext-about {
    font-size: 8.8em;
  }
  
  .bigtext-films {
    font-size: 6em;
  }
  
  .bigtext-contact {
    font-size: 8.65em;
  }

  .big-text-spacer {
    height: 0;
  }
}
/* md */
@media (min-width: 768px) {
  .landing-text {
    font-size: 4.35em;
  }

  .carousel-item {
    height: 30em;
  }

  .bigtext-about {
    font-size: 12em;
  }

  .bigtext-films {
    font-size: 8em;
  }

  .bigtext-contact {
    font-size: 11.75em;
  }

  .secondary-text {
    line-height: inherit;
    padding-left: 6em;
    padding-right: 1em;
    text-align: right;
  }

}
/* lg */
@media (min-width: 992px) {
  .landing-text {
    font-size: 5.87em;
  }

  .carousel-item {
    height: 100%;
  }

  .me-photo {
    max-height: 100%;
  }

  .bigtext-about {
    font-size: 18vw;
    right: 0;
    margin-right: 30px;
    white-space: nowrap;
    line-height: 0.8;
    position: absolute;
  }
  
  .bigtext-films {
    font-size: 10.6em;
    line-height: 0.9;
  }

  .bigtext-contact {
    font-size: 15.8em;
  }

  .big-text-spacer {
    height: 18vw;
  }

  .secondary-text-1 {
    line-height: 1;
  }

  .midtext {
    font-size: 10vw;
  }

  .featurette-heading {
    font-size: 3em;
  }
}
/* xl */
@media (min-width: 1200px) {
  .landing-text {
    font-size: 7em;
  }
    
  .bigtext-films {
    font-size: 12.6em;
    line-height: 0.85;
  }

  .bigtext-contact {
    font-size: 18.9em;
  }

}
/* xxl */
@media (min-width: 1400px) {
  .landing-text {
    font-size: 8.13em;
  }

  .bigtext-about {
    font-size: 16.5em;
  }
    
  .bigtext-films {
    font-size: 14.6em;
    line-height: 0.85;
  }

  .bigtext-contact {
    font-size: 21.85em;
  }

  .big-text-spacer {
    height: 16.5em;
  }

  .midtext {
    font-size: 9em;
  }
}